<div class="social-share">
  <ul>
    <li>
      <a href="https://twitter.com/intent/tweet?text={{ site.social_url }}{{ page.url }}" class="twitter" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
    </li>
    <li>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.social_url }}{{ page.url }}" class="facebook" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
    </li>
    <li>
      <a href="https://plus.google.com/share?url={{ site.social_url }}{{ page.url }}" class="google-plus" title="Share on Google Plus"><i class="fa fa-google-plus"></i></a>
    </li>
  </ul>
</div><!-- /.social-share -->
