<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="post-index">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: {% if page.image.creditlink %}<a href="{{ page.image.creditlink }}">{% endif %}{{ page.image.credit }}{% if page.image.creditlink %}</a>{% endif %}</span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bios.html %}
  </div>
  <div id="index">
    <h1>{{ page.title }}</h1>

    <div id="posts_alphabetized"></div>
<script type="text/javascript">
function enumeratePosts(order, printer)
{
    function getPosts() {
        return $.getJSON("{{site.url}}/posts_metadata.json");
    }

    getPosts().done(function(j) {
        var posts = [];
        $.each(j, function() {
            posts.push(this);
        });

        posts.sort(order);

        $.each(posts, printer);
    });
}

document.addEventListener("DOMContentLoaded", function(event)
{
    var output = $("#posts_alphabetized");
    output.html("<br/>");

    var order = function(a, b) {
        if (a.title < b.title) return -1;
        if (a.title > b.title) return 1;
        return 0;
    }

    function stripHtml(str) {
        var temp = document.createElement('DIV');
        temp.innerHTML = str;
        return temp.textContent || temp.innerText;
    }

    var last_first_seen = "_";
    var printer = function(idx, post) {
        function firstToUpperCase(str) {
            return str.substr(0, 1).toUpperCase();
        }

        if (last_first_seen != firstToUpperCase(post.title)) {
            last_first_seen = firstToUpperCase(post.title);
            output.append("<br><h1>" + last_first_seen + "</h1><hr>");
        }
        output.append("<article>\n" +
                      "  <h2><a href=\"{{ site.url }}" + post.url + "\" title=\"" + post.title + "\">" + post.title + "</a></h2>\n" +
                      "  <p>" + stripHtml(post.excerpt) + "</p>\n" +
                      "</article>");
    }

    enumeratePosts(order, printer);
});
</script>

  </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}
  
</body>
</html>
